@media screen and (max-width:520px){
    
    .section1 img{
        margin-left: 120px;
    }
    .section1 .menu ul{
        display: flex;
        flex-direction: column;
    }

    .section1 .buttom1{
        margin-left: 0;
    }
    
    .section2 img{
        display: none;
    }

    .section2 .box1{
        text-align: center;
        margin-left: 350px;
    }

    .section3 img{
        display: none;
    }

    .section4 .box-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section4 .box-inner1 h1,
    .section4 .box-inner1 p,
    .section4 .box-inner1 h3{
        text-align: center;
    }

    .section5 .box2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section6 h1{
        width: 500px;
        margin: auto;
    }
    .section6 .box2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section7 img{
        display: none;
    }

    .section7 p{
        width: 800px;
        text-align: center;
        margin-left: 50px;
    }
    .section8 img{
        display: none;
    }

    .section9 img{
        display: none;
    }




    




    
   
   
   
}