@media screen and (max-width:765px) {
    .block2-section2 {
        display: none;
    }

    .block1-section2 {
       height: 100%;
       margin-top: -80px;
       
       margin-left: 100px;
    }
    .block-section3{
        margin-top: 570px;
    }
    
    .header{
        margin-top: 200px;
    }

    .block-section3 {
       display: none;
    }
    .section6-1{
        display: none;
    }
    .midle-block2 .photo{
        display: none;
    }
    .box1{
       margin-right: 10px;
    }

}