.section3 {
  background: rgb(255, 156, 125);
}
.section3 .container {
  display: flex;
  flex-direction: column;
}
.section3 p {
  font-size: 50px;
  line-height: 60px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
  text-align: center;
}
.section3 .box-libles {
  max-width: 1440px;
  margin-top: 69px;
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0px;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1430px;
  margin: auto;
  overflow-x: hidden;
}

.section1 .container {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section1 .btn-box {
  max-width: 258px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.section1 .btn {
  width: 120px;
  height: 45px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1px 1px;
}
.section1 .btn1 {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 0 5px;
}
.section1 .btn2 {
  background: rgb(255, 99, 54);
  border: 1px solid rgb(255, 99, 54);
  margin: 0 5px 0;
}
.section1 .btn2 a {
  color: white;
}
.section1 .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section1 .menu-item {
  margin: 0 28.5px;
}

.section2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 140px;
}
.section2 .description1 {
  margin-top: 184px;
  font-size: 65px;
  line-height: 70px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
}
.section2 .description2 {
  max-width: 100%;
  font-size: 25px;
  line-height: 35px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
  margin-top: 51px;
}
.section2 .btn-box {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 50px;
}
.section2 .btn {
  width: 120px;
  height: 45px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1px 1px;
}
.section2 .btn1 {
  background: rgb(255, 99, 54);
  border: 1px solid rgb(255, 99, 54);
  margin: 0 0 5px;
}
.section2 .btn2 {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 5px 0;
}
.section2 .btn1 a {
  color: white;
}
.section2 .description3 {
  font-size: 15px;
  line-height: 25px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
  margin-top: 25px;
  max-width: 369px;
  display: inline-block;
}
.section2 .wrap1 {
  max-width: 552px;
}
.section2 .wrap2 {
  max-width: 750px;
}
.section2 .wrap2 img {
  width: 100%;
}

.section3 {
  background: rgb(255, 156, 125);
}
.section3 .container {
  display: flex;
  flex-direction: column;
}
.section3 p {
  margin-top: 108px;
  font-size: 50px;
  line-height: 60px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
  text-align: center;
}
.section3 .box-libles {
  max-width: 1440px;
  margin-top: 69px;
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-bottom: 100px;
}

.section4 {
  background: rgb(238, 238, 238);
}
.section4 .main-box {
  max-width: 1440px;
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section4 .box {
  max-width: 48%;
}
.section4 .containt1 {
  margin-top: 151px;
  font-size: 50px;
  line-height: 60px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
}
.section4 .containt2 {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
}
.section4 .containt3 {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
}
.section4 .rew-reverse {
  flex-direction: row-reverse;
}

.section5 {
  background: rgb(238, 238, 238);
}
.section5 .header {
  font-size: 50px;
  line-height: 60px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
  text-align: center;
  margin-top: 270px;
  margin-bottom: 79px;
}
.section5 .maim-wrap {
  width: 100%;
  margin-top: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section5 .wrap {
  width: 330px;
  flex-direction: column;
  margin-top: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: inline-block;
  margin: 15px 72px;
}
.section5 .image {
  margin: auto;
  width: 160px;
  height: 120px;
}
.section5 .description1 {
  margin-top: 26px;
  font-size: 25px;
  line-height: 35px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
}
.section5 .description2 {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
}

.section6 {
  background: rgb(238, 238, 238);
}
.section6 .container {
  padding-bottom: 187px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section6 .header {
  margin-top: 154px;
  font-size: 50px;
  line-height: 60px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
  text-align: center;
}
.section6 .wrap {
  width: 474px;
  flex-direction: column;
  margin-top: 75px;
}
.section6 .image {
  margin-left: 0;
  width: 145px;
  height: 201px;
}
.section6 .description1 {
  margin-top: 26px;
  font-size: 25px;
  line-height: 35px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
}
.section6 .description2 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
}
.section6 p {
  margin-left: 0;
}

.section7 {
  background: rgb(201, 232, 242);
}
.section7 .container {
  padding: 53px 75px 105px;
  display: flex;
}
.section7 .description1 {
  font-size: 30px;
  line-height: 40px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
}
.section7 .description2 {
  margin-top: 23px;
  margin-bottom: 7px;
  font-size: 15px;
  line-height: 25px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
}
.section7 .wrap2 {
  margin-left: 120px;
  margin-left: 160px;
}
.section7 .photo-box {
  width: 310px;
  height: 310px;
}

.section8 {
  background: rgb(218, 188, 152);
}
.section8 .container {
  padding: 79px 138px 84px 54px;
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section8 .image-block {
  width: 176px;
  height: 154px;
}
.section8 p {
  font-size: 35px;
  line-height: 50px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
  margin-left: 67px;
}
.section8 .stik {
  width: 1px;
  height: 168px;
  border: 1px solid rgb(0, 0, 0);
  margin-left: 124px;
  background: #000;
}
.section8 .logo1,
.section8 .logo2 {
  margin-left: 71px;
}

.section9 {
  background: rgb(238, 238, 238);
}
.section9 .container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section9 .deskription1 {
  font-size: 65px;
  line-height: 75px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
  text-align: center;
  margin-top: 165px;
}
.section9 .deskription2 {
  font-size: 25px;
  line-height: 30px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
  text-align: center;
  margin-bottom: 25px;
}
.section9 .image-block {
  max-width: 1023px;
}
.section9 .image-block img {
  width: 100%;
}
.section9 .btn {
  width: 193px;
  height: 60px;
  margin-bottom: 162px;
}
.section9 .btn {
  margin-top: 32px;
  background: rgb(255, 99, 54);
  padding: 1px 1px;
}
.section9 .btn-link {
  color: #E5E5E5;
}

.section10 {
  background: rgb(255, 156, 125);
}
.section10 .container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 162px 328px 118px;
}
.section10 .deskription1 {
  font-size: 65px;
  line-height: 75px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
  text-align: center;
}
.section10 .deskription2 {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
  text-align: center;
  margin-top: 29px;
}
.section10 .btn {
  width: 160px;
  height: 60px;
  margin-top: 54px;
  background: #000;
  padding: 1px 1px;
}
.section10 .btn-link {
  color: #E5E5E5;
}

.section11 .container {
  padding-top: 92px;
}
.section11 .box-top {
  display: flex;
}
.section11 .box-top {
  border-bottom: 1px solid #000;
}
.section11 h1 {
  font-size: 40px;
  line-height: 50px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
}
.section11 .image-box1 {
  max-width: 300px;
  max-height: 300px;
  margin-top: 28px;
}
.section11 .image-box1 img {
  max-width: 100%;
}
.section11 .image-box2 img {
  max-width: 100%;
  margin-top: 31px;
}
.section11 .description1 {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
  margin-top: 11px;
}
.section11 .description2 {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
  margin-top: 15px;
  margin-bottom: 95px;
}
.section11 .menu-wrap {
  width: 1140px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
}
.section11 .menu {
  margin: 0 60px;
}
.section11 .menu p {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  width: 600;
  font-family: "Graphik-Bold", sans-serif;
  margin-bottom: 7px;
}
.section11 .menu a {
  font-size: 15px;
  line-height: 15px;
  color: #000;
  width: 400;
  font-family: "Graphik-Regular", sans-serif;
  margin-top: 15px;
}
.section11 .box-bottom {
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section11 .box-left {
  max-width: 305px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
}
.section11 .box-left img {
  margin-right: 14px;
}
.section11 .box-right {
  max-width: 220px;
}/*# sourceMappingURL=style.css.map */