@import url(./media.css);

*,
body,
html {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

/* секция 1 */
.section1{
    background: #FFFFFF;
}

.section1 .big-box{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin: 25px 51px;
    
}

.section1 .lible{
    margin-right: 23px;
    display: inline-block;
    display: flex;
    align-items: center; 
}

.section1 img{
    display: inline-block;
}

.section1 .menu{
    display: flex;
    align-items: center;
}

.section1 ul{
    display: flex;
}
.section1 .menu-item{
    margin: 0 28px;
    
}

.section1 .menu-link{
    padding: 10px 15px;
    font-family: 'Graphik-Regular' sans-serif;
    font-weight: 400;
    size: 15px;
    line-height: 20px;

}

.section1 .btn-box{
    display: flex;
}

.section1 button{
    width: 120px;
}

.section1 .btn-link{
    font-family: 'Graphik-Bold' sans-serif;
    font-weight: 600;
    size: 16px;
    line-height: 45px;
}

.section1 .btn1{
    margin: 0 10px  0 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.section1 .btn2{
    background: rgba(255, 99, 54, 1);
}

.section1 .btn2 .btn-link{
    color: #FFF;
}

/* секция 2 */
.section2 .big-box{
    padding: 151px 67px 140px 75px;
    display: flex;
    max-width: 1440px;
}

.section2 .box1, 
.section2 .box2{
    width: 50%;
} 

.section2 h1{
    font-family: 'Graphik-Bold' sans-serif;
    font-weight: 600;
    size: 65px;
    line-height: 70px;
}

.section2 h3{
    font-family: 'Graphik-Regular' sans-serif;
    font-weight: 400;
    size: 25px;
    line-height: 35px;
}

.section2 .btn-link{
    font-family: 'Graphik-Bold' sans-serif;
    font-weight: 600;
    size: 16px;
    line-height: 60px;
}











