// Color
$color-main: #E5E5E5;
$color-orange: #FF4B32;
$color-grey: #0D0402;
$color-black: #000;
$color-white: #FFF;


//Fonts
$font-poppins-regular: 'Poppins-Regular', sans-serif;
$font-josefinSans-semibold: 'JosefinSans-SemiBold', sans-serif;
$font-josefinSans-bold: 'JosefinSans-Bold', sans-serif;
$font-opensans-bold: 'OpenSans-Bold', sans-serif;
$font-opensans-semibold: 'OpenSans-SemiBold', sans-serif;
$font-opensans-regular: 'OpenSans-Regular', sans-serif;