//Color
$color-white: #E5E5E5;
$color-lightgrey: rgba(238, 238, 238, 1);
$color-pink: rgba(255, 156, 125, 1);
$color-orange: rgba(255, 99, 54, 1);
$color-vanile: rgba(255, 248, 228, 1);
$color-lightblue: rgba(201, 232, 242, 1);
$color-capuchino: rgba(218, 188, 152, 1);

//Fonts
$bold: 'Graphik-Bold', sans-serif;
$regular: 'Graphik-Regular', sans-serif;